body {
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 50px;
}

.card {
    background: #222;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    border-radius: 15px;
}

button {
    background: white;
    color: black;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}
